* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(45deg, rgb(0, 72, 139), rgb(56, 136, 255));
  background-repeat: no-repeat;
  overflow: hidden;
}

.search {
  max-width: 570px;
  margin: 6rem auto;
  background-color: #fff;
  font-size: 16px;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
}
.input {
  border-bottom: 1.75px solid rgb(0, 89, 255);
  width: 350px;
}
form {
  display: flex;
  justify-content: space-between;

  input {
    border: none;

    font-size: 20px;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  button {
    padding: 0.65rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: #4e81fd;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 30px;
  img {
    width: 200px;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-weight: 500;
  }
}

.Capital,
.Continent,
.Population,
.Currency,
.Common-Language {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.loading {
  display: none;
  position: absolute;
  top: 7rem;
  left: 62rem;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-block: 7px solid #eee;
  border-inline: 7px solid #3498db;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result {
  display: none;
}
