@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit-form {
  max-width: 550px;
  margin: 1rem auto;
  text-align: center;
  form {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    input {
      margin-bottom: 10px;
      padding: 0.25rem;
      font-size: 16px;
      outline: none;
    }
    label {
      text-align: left;
      margin-bottom: 5px;
      color: rgb(72, 72, 72);
    }
    button {
      border: none;
      cursor: pointer;
      margin-top: 10px;
      padding: 0.45rem;
      border-radius: 0.25rem;
      background-color: #4caf50;
      color: white;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  h1 {
    margin-block: 2rem;
  }
}

.user-list {
  text-align: center;
  margin: 0 auto;
  max-width: 1100px;
  h1 {
    font-size: 28px;
    margin-top: 5rem;
    margin-bottom: 30px;
  }
}

table {
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  th,
  td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  th {
    border: 1px solid #000;
    padding-block: 15px;
    background-color: #4caf50;
    color: white;
  }
  td {
    border: 1px solid #000;
    padding-block: 10px;
  }
  tr:hover {
    background-color: #f1f1f1;
  }

  tr:nth-child(even) {
    background-color: #d3fcd3;
  }

  tr:nth-child(odd) {
    background-color: #fff;
  }
  button {
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
    background-color: #2f80ed;
  }
  button:nth-child(2) {
    margin-left: 10px;
    background-color: #f33838;
  }
  button:disabled,
  button:nth-child(1):disabled:hover,
  button:nth-child(2):disabled:hover {
    background-color: #a1a1a1;
  }
  button:nth-child(1):hover {
    background-color: #0568e9;
  }
  button:nth-child(2):hover {
    background-color: #f11717;
  }
  img {
    width: 40px;
    border: 2px solid #000;
    border-radius: 50%;
  }
}
.img-td,
.btn-td {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-td {
  justify-content: space-around;
}

.pagination,
.pagination-top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #4caf50;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  border-radius: 0.25rem;
  button {
    padding: 0.65rem 1.5rem;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  button:nth-child(1) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  button:nth-child(2) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  button:hover {
    background-color: #156117;
    transition: all 0.25s ease;
  }
}

.pagination-top {
  margin-bottom: 1rem;
}

#cancel {
  display: none;
}
